# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Neon database.

# Resend
# Used for the contact form
# @see https://resend.com
EMAIL_FROM=contact@example.com
EMAIL_TO="personal@personal.com"

RESEND_API_KEY="re_xyzabc..."

# Cloudflare Turnstile
# Used to protect your site from bad bots
# @see https://www.cloudflare.com/products/bot-management/
NEXT_PUBLIC_TURNSTILE_SITE_KEY="0x..."
TURNSTILE_SECRET_KEY="0x..."

# Database URL
# The database URL is used to connect to your database. It's used for commenting, and authenticated.
DATABASE_URL='postgresql://neondb_owner:'

# Authentication
# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=''
BETTER_AUTH_SECRET=''

# Preconfigured Google OAuth provider, works out-of-the-box
# @see https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Preconfigured Github OAuth provider, works out-of-the-box
# @see https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Flags
# Used to enable/disable features

# Contact Form
NEXT_PUBLIC_CONTACT_FORM_ENABLED="true"
NEXT_PUBLIC_CONTACT_AUTH_ENABLED="true"
# TODO: IMPLEMENT DISABLING AUTH