.imageContainer {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .imageContainer {
    display: block;
    width: 500px;
    height: 450px;
    position: relative;

    img {
      object-fit: cover;
    }
  }
}
