.footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;

  ul {
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
  }

  li {
    span {
      color: #9f9689;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    justify-content: space-between;

    ul {
      width: auto;
    }
  }
}
