.mf-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  transition:
    opacity 0.3s,
    color 0.4s;
}

.mf-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0.2);
  background: currentColor;
  border-radius: 50%;
  transition:
    transform 0.25s ease-in-out,
    opacity 0.1s;
}

.mf-cursor.-inverse {
  color: white;
}

@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }
  .mf-cursor.-exclusion:before {
    background: white;
  }
}

.mf-cursor.-pointer:before {
  transform: scale(0.15);
}

.mf-cursor.-text:before {
  opacity: 0.85;
  transform: scale(1.7);
}

.mf-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}

.mf-cursor.-icon:before {
  transform: scale(1.5);
}

.mf-cursor.-icon.-active:before {
  transform: scale(1.4);
}

.mf-cursor.-hidden:before {
  transform: scale(0);
}

.mf-cursor-text {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition:
    opacity 0.4s,
    transform 0.3s;
}

.mf-cursor.-text .mf-cursor-text,
.mf-cursor.-icon .mf-cursor-text {
  opacity: 1;
  transform: scale(1);
}

.mf-cursor-media {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}

.mf-cursor-media img,
.mf-cursor-media video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@supports (object-fit: cover) {
  .mf-cursor-media img,
  .mf-cursor-media video {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
  }
}

.mf-cursor-media-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0) translateZ(0);
  padding: 1px;
  opacity: 0;
  border-radius: 50%;
  transition:
    transform 0.35s,
    opacity 0.2s 0.2s;
}

.mf-cursor.-media .mf-cursor-media-box {
  opacity: 1;
  transform: scale(0.696);
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0s;
}
